<!doctype html>
html
	head
		meta(charset="utf-8")
		title Airsoft
		link(rel="stylesheet", href="./css/main.css")
		link(href='https://fonts.googleapis.com/css?family=Black+Ops+One|Nixie+One' rel='stylesheet' type='text/css')
	body
		.background
			header.header
				nav
					ul.nav 
						li.nav__item
							a(href="").nav__link Home
						li.nav__item
							a(href="").nav__link Item2
						li.nav__item
							a(href="").nav__link Item3
						li.nav__item
							a(href="").nav__link Item4
				h2 Airsoft Yalcones
				
			section.contenido
				h2 Welcome to Club Airsofter
				p "El único día fácil fue ayer." 
				p "No conocemos la piedad y no pedimos ninguna."